[Unit]
Description=AirSquitter Scraper
After=network.target

[Service]
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/airsquitter-scraper.py
KillMode=process
Restart=always
RestartSec=3
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
Alias=airsquitter-scraper.service
